/* #region-page */
.page__body {
  margin: 0;
}

.page {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
  background-color: #1d1d1d;
}

.page__menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.main__page {
  padding-left: 120px;
}

/* #endregion */

/* #region header */

.header {
  background-size: cover;
  height: 100vh;
  background-image: url(/src/images/footer-bg.png);
  background-position: center;
  padding: 36px 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 120px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: 28vh;
}

/* #endregion */

/* #region menu */

.top-bar {
  padding: 36px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__logo {
  display: flex;
  margin-left: -120px;
}

.top-bar__icons {
  display: flex;
  gap: 32px;
}

.menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 36px 120px;
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;
  opacity: 0;
  pointer-events: none;
  font-weight: 600;
  text-transform: uppercase;
}

.menu__content {
  padding-inline: 40px;
  margin-left: 140px;
}

.menu__phone-number {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
}

.menu__book {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  border-bottom: #1d1d1d 1px solid;
  padding-bottom: 8px;
  display: block;
  width: fit-content;
  text-align: center;
  margin-top: 16px;
}

.menu__logo {
  width: 130px;
  height: 38px;
}

.menu__all {
  display: flex;
}

/* #endregion */

/* #region nav */

.nav__link {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu__nav {
  margin-bottom: 40px;
}

.nav__link:hover {
  border-bottom: #1d1d1d 2px solid;
}

/* #endregion */

/* #region main */

.compare-bikes__cards {
  display: flex;
  gap: 24px;
}

.move {
  display: flex;
  padding: 120px 0;
  align-items: flex-end;
}

.move__free {
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.move__content {
  margin-left: 100px;
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0;
  max-height: 96px;
  max-width: 498px;
  margin-right: -10vh;
}

.main__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

.compare__logo {
  width: 324;
  height: 256;
  opacity: 1;
  top: 1211px;
  left: 120px;
}

.cards__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
  margin-bottom: 0;
}

.about__cards {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  max-width: 324px;
}

.compare__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
}

.details__cards {
  padding-bottom: 25px;
}

.big-images {
  width: 672px;
  height: 321px;
  top: 1913px;
  left: 120px;
  opacity: 1;
}

.small-images {
  width: 324px;
  height: 321px;
  top: 1913px;
  left: 816px;
  opacity: 1;
  margin-left: 20px;
}

.about-details__cards {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  max-width: 677px;
  margin-top: 8px;
}

.small-images-3 {
  width: 324px;
  height: 321px;
  top: 1913px;
  left: 816px;
  opacity: 1;
  margin-right: 20px;
}

.main__button {
  width: 324px;
  height: 56px;
  top: 3346px;
  left: 468px;
  opacity: 1;
  border-radius: 40px;
  padding-right: 48px;
  padding-left: 48px;
  font-family: 'Poppins Arial', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 35vh;
  align-items: center;
  display: block;
  color: #1d1d1d;
}

.contact__title {
  margin-top: 150px;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

.contact-form__textarea {
  width: 411px;
  height: 148px;
  opacity: 1;
  border-radius: 16px;
  padding-top: 14px;
  resize: none;
  box-sizing: border-box;
  padding-left: 16px;
}

.contact-form__input {
  width: 411px;
  height: 48px;
  opacity: 1;
  border-radius: 40px;
  margin-bottom: 25px;
  text-align: start;
  box-sizing: border-box;
  padding-left: 16px;
}

.main__button-send {
  width: 411px;
  height: 56px;
  top: 3346px;
  left: 468px;
  opacity: 1;
  border-radius: 40px;
  padding-right: 48px;
  padding-left: 48px;
  font-family: 'Poppins Arial', Helvetica, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  align-items: center;
  display: block;
  margin-top: 30px;
  color: #1d1d1d;
}

.contact-form__input::placeholder {
  font-family: 'Poppins Arial', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #7e7e83;
  padding-left: 16px;
}

.contact-form__textarea::placeholder {
  font-family: 'Poppins Arial', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #7e7e83;
  padding-left: 16px;
}

.contact__content {
  display: flex;
}

.contact-form__label {
  font-family: 'Poppins Arial', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  color: #fff;
  text-decoration: none;
}

.contact-info__title {
  font-family: 'Poppins Arial', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
}

.contact__info {
  padding-left: 280px;
}

/* #endregion */

/* #region icon */

.icon {
  display: block;
  width: 32px;
  height: 32px;
}

.icon--phone {
  background-image: url(/src/icons/icon-phone.png);
}

.icon--menu {
  background-image: url(/src/icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(/src/icons/Icon-Close.png);
}

/* #endregion */

/* #region footer */

.footer {
  background-image: url(/src/images/footer.png);
  content: '';
  width: 100%;
  height: 555px;
  top: 4224px;
  opacity: 1;
  margin-top: 240px;
}

/* #endregion */
